
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# https://wordpress.org/support/topic/how-do-i-change-wordpress-media-uploads-url-to-my-cloudfront-cdn-url/
#RewriteEngine on
#RedirectMatch 302 ^/wp-content/uploads(.*) https://<mysite.com>/wp-content/uploads$1
