
# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# https://wordpress.org/support/topic/how-do-i-change-wordpress-media-uploads-url-to-my-cloudfront-cdn-url/
<IfModule mod_rewrite.c>
  #RewriteEngine On
  #RedirectMatch 302 ^/wp-content/uploads(.*) https://<mysite.com>/wp-content/uploads$1
</IfModule>
